.update-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-title-button-content {
    /*height: 50px;*/
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D9D9D9;
}

.update-content-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-content-form-container input {
    width: 90%;
}

.update-content-buttons-container {
    display: flex;
    gap: 30px;
    align-self: flex-end;
}