.xbutton {
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

.xbutton:active {
    background-color: #8f8f8f;
}